<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Python Shopping Cart</title>
	
	
	<!------------------------ Third party libraries -------------------------->
	<script src="static/lib/jquery-2.2.2.js"></script>
	<script src="static/lib/angular.min.js"></script>
	<script src="static/lib/angular-route.min.js"></script>
	<script src="static/lib/angular-sanitize.js"></script>
	<script src="static/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	
	<script src="static/lib/ui-bootstrap-tpls-1.1.2.min.js"></script>
	
	
	
	
	<!------------------------ Application css -------------------------->
	<link rel="stylesheet" href="static/css/header.css">
	<link rel="stylesheet" href="static/css/sidenav.css">
	<link rel="stylesheet" href="static/css/main.css">
	<link rel="stylesheet" href="static/css/bookstore.css">
	<link rel="stylesheet" href="static/css/carousel.css">
	<link rel="stylesheet" href="static/css/booklist.css">
	<link rel="stylesheet" href="static/css/cart/cart.css">
	<link rel="stylesheet" href="static/css/checkout/shipment.css">
	<link rel="stylesheet" href="static/css/orders/order.css">
	<link rel="stylesheet" href="static/css/orders/order-details.css">
	<link rel="stylesheet" href="static/css/bookDetail.css">
	<link rel="stylesheet" href="static/css/wishlist.css">
	<link rel="stylesheet" href="static/css/carousel.css">
	<!------------------------ Application Scripts -------------------------->
	
	<!------------------------ Models -------------------------->
	<script src="static/js/model/core/Books.js"></script>
	<script src="static/js/model/core/Category.js"></script>
	<script src="static/js/model/core/Contact.js"></script>
	<script src="static/js/model/core/address.js"></script>
	<script src="static/js/model/core/order.js"></script>
	<script src="static/js/model/core/shipment.js"></script>
	
	
	<script src="static/js/app.js"></script>
	<script src="static/js/config.js"></script>
	
	<scripts src="static/js/modal/ModalInstanceCtrl.js"></script>
	<script src="static/js/components/checkout/CheckoutService.js"></script>
	<script src="static/js/components/checkout/shipment/shipment.js"></script>
	
	<script src="static/js/constants/constants.js"></script>
	
	
	<script src="static/js/shared/controllers/header.js"></script>
	<script src="static/js/shared/services/data.js"></script>
	<script src="static/js/shared/services/recursion.js"></script>
	
	<script src="static/js/components/books/BookService.js"></script>
	<script src="static/js/components/books/popularBooksCtrl.js"></script>
	<script src="static/js/components/books/bookCtrl.js"></script>
	<script src="static/js/components/books/bookDirective.js"></script>
	
	<script src="static/js/components/store/storeCtrl.js"></script>
	<script src="static/js/components/store/StoreService.js"></script>
	
	
	
	<script src="static/js/components/wishlist/wishlistCtrl.js"></script>
	<script src="static/js/components/wishlist/wishlistService.js"></script>
	
	
	<script src="static/js/routes.js"></script>
	
	<script src="static/js/components/cart/cartCtrl.js"></script>
	<script src="static/js/components/cart/CartService.js"></script>
	
	<script src="static/js/shared/controllers/header.js"></script>
	<script src="static/js/components/category/CategoryService.js"></script>
	<script src="static/js/shared/sidebar-manu/nav.js"></script>
	
	<script src="static/js/components/checkout/payment/PaymentService.js"></script>
	<script src="static/js/components/checkout/payment/paymentCtrl.js"></script>

	<script src="static/js/components/checkout/shipment/shipmentCtrl.js"></script>
	<script src="static/js/components/orders/orderCtrl.js"></script>
	<script src="static/js/components/orders/OrderService.js"></script>
</head>
<body  ng-app="bookStore">
	<div id="book-store-container" class="toggle-sidebar" >
		<div ng-include src="'/static/js/shared/sidebar-manu/sidebar.html'"></div>
		<div id="page-content" class="page-content-wrapper">
			<div ng-include src="'/static/views/partials/header.html'"></div>
			
		    <div class="container-fluid">
		        <div ng-view></div>
		    </div>
		</div>
	</div>

</body>
</html>